html {
  box-sizing: border-box;
}
*, *:before, *after {
  box-sizing: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  /* Typography Declarations */
  color: #403F3D;
  font-size: 1em;
  font-family: "Josefin Sans", "Helvetica Nue", sans-serif;
  padding: 0;
}

a {
  color: #87A65B;
  text-decoration: none;
}

a:hover {
  color: #403F3D;
}

h1 {
  font-size: 2em;
  font-family: "Amatic SC", cursive;
  text-align: center;
  color: #DA8672;
}

h3 {
  font-size: 1.5em;
  font-family: "Josefin Sans", "Helvetica Nue", sans-serif;
  text-align: center;
  color: white;
}

/* navigation section */
.top-nav {
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #fff;
  opacity: 0.8;
  padding: 0;
  height: 3em;
}

.top-nav .links {
  float: right;
  color: #838994;
  font-size: 1em;
  margin-top: 1em;
  margin-right: 2em;
  -webkit-font-smoothing: antialised;
}

.top-nav .links li {
  display: inline;
  padding: 1em;
}

#nav-text {
  float: left;
  margin-top: 1em;
  margin-left: 1em;
}

/* header section */
.masthead {
  background-image: url('http://i.imgur.com/o8BBjsK.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 30em;
}

.masthead-intro {
  /* Typography Declarations */
  font-family: "Amatic SC", cursive;
  font-size: 3em;
  color: black;
  padding-top: 5em;
  text-align: center;
}

#masthead-text {
  text-shadow: 4px 3px 3px #403F3D;
}

/* about me section */
.introduction-section, .portfolio-section, .contact-section {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3em;
  padding-bottom: 3em;
  border-top: solid 1px #F2F2F1;
}

.content {
  text-align: center;
  max-width: 38em;
  margin: 1em auto;
}

.intro-text {
  margin-top: 1em;
  line-height: 2em;
  text-align: justify;
}

#myface {
  border-radius: 100%;
  height: 5em;
  width: 5em;
}

.mypic {
  text-align: center;
  margin-top: 1em;
}

#fewd {
  text-transform: uppercase;
}

/* portfolio section */
.portfolio-section {
  background-color: #F2F2F1;
}

.projects {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  padding: 1em;
  width: 75%;
  overflow: auto;
}

.projects ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.projects li {
  position: relative;
  width: 45%;
  clear: both;
  display: inline-block;
  margin: 1em;
}

.projects li img {
  display: block;
  width: 100%;
}

.projects .project-image {
  max-width: 100%;
  margin: 0 auto;
}

.excerpt {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  display: none;
  padding: 3em;
  text-align: center;
  color: white;
  font-size: 1em;
  line-height:3em;
  background-color: black;
}

.excerpt a {
  font-size: 2em;
  padding: 0.5em;
}

.projects li.left {
  float: left;
  clear: both;
}

.projects li.right {
  float: right;
  clear: none;
}

li.project:hover .excerpt {
  display: block;
  top: 0;
  opacity: 0.8;
}

/* contact section*/
#icons {
  list-style: none;
  padding-left: 0;
  text-align: center;
  margin-top: 1em;
  font-size: 2em;
}

#icons > li {
  display: inline-block;
  padding: 0.2em;
}

#email a {
  color: red;
}

#skype a {
  color: #12A5F4;
}

#linkedin a {
  color: #007bb6;
}

#github a {
  color: black;
}

#github a:hover, #email a:hover, #skype a:hover, #linkedin a:hover {
  opacity: 0.5;
}

.contact-text {
  margin-top: 1em;
}

/* footer */
.content-footer {
  height: 2em;
  background-color: #87A65B;
  font-size: 1em;
  padding-top: 1em;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .masthead {
    padding: 3em 0;
}

img {
  max-width: 100%;
}